<nav class="navbar navbar-expand-sm bg-light fixed-top">
    <form class="form-inline" >
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input type="text" class="form-control round-search-bar" placeholder="Search">
        </div>
    </form>
</nav>