<nav class="navbar navbar-expand-sm bg-light fixed-top">
    <form class="form-inline" >
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            <input type="text" class="form-control round-search-bar" placeholder="Search">
            {% if app.user is null %}
            <a class="btn-link" href="{{ path('register_user') }}">Sign in</a>
                <span></span>
            <a class="btn-link" href="{{ path('login') }}">
                Sign up</a>
            {% else %}
            <a class="btn-link" href="{{ path('logout') }}">{{ app.user.getName()}}</a>
            {% endif %}
        </div>
    </form>
</nav>