.navbar{
    box-shadow: 0 2px 4px 0 rgba(37,50,56,.03);
    background-color: #fff;
    border-bottom: 1px solid;
    border-color: rgba(207,216,220,.5)
}

.round-search-bar{
    border-radius: 10px; /* 5px rounded corners */

}

.body{
    padding-top: 100px;
}

.centered{
    align-items: center;
    justify-content: center;

}

.registerform{
    padding-top: 15px;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.50);
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 32px;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    width: 300px;
}
.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}

.fa-angle-down{
    color: #0b897d;
}

.navbar-toggler:focus{
    border: none;
    outline: none;
}

.navbar-toggler:active{
    border: none;
}

.navbar-toggler{
    border: 0;
    outline: 0;
    -moz-appearance:none;
}

.btn-primary{
    border-radius: 20px;
    text-decoration: none;
    border: none;
    background-color: #13c1ac;

}

.btn-primary:hover{
    background-color: #0b897d;
}

.btn-primary i{
    margin-right: 4px;
}
.vich-image{
    max-width: 250px;
}

#newComment{
    position: absolute;
    right: 40px;
}


.comments-block{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eceff1;
    padding-left: 32px;
    padding-right: 32px;
}

.comments-block textarea{
    width: 100%;
    resize: none;
}

.comment-user-image{
    height: 40px;
    width: 40px;
}

.comment-date{
    font-size: 0.8rem;
    font-weight: lighter;
    position:absolute;
    right: 40px;
}

.reply-date{
    font-size: 0.8rem;
    font-weight: lighter;
    position:absolute;
    right: 50px;
}

.comment-reply-button{
    font-weight: 700;
    position: absolute;
    color: #196157;
    right: -30px;
}

.comment-reply-button i{
    font-size: 0.7rem;
}

.comment-reply-button span{
    font-size: 0.8rem;
    margin-left: 4px;
}

.reply-block{
    display: none;
    width: 100%;
}



.reply-textarea{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fdfffd;
    align-content: center;
    border-radius: 30px;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.75);
    width: 100%;
    margin-top: 20px;
    padding-bottom: 8px;

}

.reply-textarea textarea{
    all: revert;
    resize: none;
    width: 95%;
    -moz-appearance:none;
    outline:0px none transparent;
    background-color: transparent;
    border: none;
    align-self: flex-end;
    margin: 0 auto;
    min-height: 30px;
    height: 30px;
}

.reply-textarea:focus{
    outline: 0;

}

.comment-reply-button a:hover{
    font-weight: bold;
    cursor: pointer;
}

.parent-comment{
    padding: 8px 8px;
    border-top: 1px solid #196157;
    min-height: 80px;
    margin-top: 20px;

}
.son-comment{
    background-color: #effdff;
    padding-left: 32px;


}

.reply-block{
    margin-top: 16px;
}

.comment-empty-user-image{
    margin-top: 2px;
    margin-left: 5px;
    font-size: 32px;
}
.comment-text{
    overflow-wrap: break-word;
    width: 100%;
}

.comment-user-name{
    font-size: 0.9rem;
    font-weight: bolder;
}

.comment-dot-image {
    height: 40px;
    width: 40px;
    background-color: #a3a3a3;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border: 1px solid;
    border-color: #fff;
}

.reply-empty-user-image{
    margin-top: 2px;
    margin-left: 2px;
    font-size: 25px;
}

.reply-dot-image {
    height: 30px;
    width: 30px;
    background-color: #a3a3a3;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border: 1px solid;
    border-color: #fff;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.reply-user-image{
    height: 30px;
    width: 30px;
}


.reviews-block{

    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eceff1;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 16px;

}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:1.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}


/* Rating Star Widgets Style */
.user-stars ul {
    list-style-type:none;
    padding-left: 4px;
    position: absolute;
    top:-4px;
    -moz-user-select:none;
    -webkit-user-select:none;
}
.user-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.user-stars ul > li.star > i.fa {
    font-size:0.8em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

.user-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}

.review{
    margin-bottom: 4px;
}

.review-date{
    font-size: 0.9rem;
    font-weight: lighter;
    position:absolute;
    right: 40px;
}

.review-text{
    padding-top: 0;
    overflow-wrap: break-word;
}


.product-dot-image{
    height: 50px;
    width: 50px;
}

.product-user-image{
    height: 50px;
    width: 50px;
    background-color: #a3a3a3;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border: 1px solid;
    border-color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.category-holder {
    padding-top: 4px;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: right;
    padding-right: 16px;
}

#login{
    font-size: large;
    align-self: center;
    justify-self: center;
    min-width: 80px;
}

#register{
    font-size: large;
    align-self: center;
    justify-self: center;
    min-width: 80px;
}