.navbar{
    box-shadow: 0 2px 4px 0 rgba(37,50,56,.03);
    background-color: #fff;
    height: 66px;
    border-bottom: 1px solid;
    border-color: rgba(207,216,220,.5)
}

.round-search-bar{
    border-radius: 10px; /* 5px rounded corners */

}

.body{
    padding-top: 100px;
}

.centered{
    align-items: center;
    justify-content: center;

}

.registerform{
    padding-top: 15px;
    box-shadow: 5px 5px 6px -3px #000000;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 2px solid #1C6EA4;
    border-radius: 10px;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    width: 300px;
}
.active-cyan .fa, .active-cyan-2 .fa {
    color: #4dd0e1;
}

.btn-primary{
    background-color: #13c1ac;
}

.vich-image{
    max-width: 250px;
}