.card {
    transition: 0.3s;
    padding-left:3px;
    padding-right:3px;
    padding-top:3px;
    height: 420px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);

}

.view-product {
    border-right: 30px;
    margin-right: 100px;
    margin-left: 700px;

    transition: 0.3s;
    padding-left:3px;
    padding-right:3px;
    padding-top:3px;
    height: 620px;
    width: 420px;
    border-radius: 10px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1);

}

.name-surname-holder-big{
    padding-top: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: x-large;

}

.price-holder-big{
    padding-top: 10px;
    font-weight: bold;
    font-size: xx-large;
}
.name-holder-big{
    padding-top: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: x-large;

}


.description-holder-big{
    font-family: sans-serif;
    font-weight: lighter;
    height: 90px;
    color: #4f6b71;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
    font-size: x-large;

}

.image-holder-big {
    border-radius: 5px 5px 5px 5px;
    width: 412px;
    height: 335px;
    max-width: 412px;
    max-height: 340px;
    background-color: #969896;
    overflow: hidden;

}


.cardholder {
    border-right: 30px;
    margin-right: 15px;
    margin-left: 15px;
}


.price-holder{
    padding-top: 10px;
    font-weight: bold;
    font-size: x-large;
}
.name-holder{
    padding-top: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: larger;

}


.description-holder{
    font-family: sans-serif;
    font-weight: lighter;
    height: 90px;
    color: #4f6b71;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;

}

.card-bottom{
    padding-left: 5px;
}


.image-holder{
    border-radius: 5px 5px 5px 5px;
    width: 212px;
    height: 243px;
    max-width: 212px;
    max-height: 243px;
    background-color: #969896;
    overflow: hidden;

}

.image-holder img{
    object-fit: contain;
    max-height:100%;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.like-holder{
    font-size: medium;
}
.like-holder i:hover{
    color: red;
}

.liked{
    color: red;
}

.dot-image {
    height: 35px;
    width: 35px;
    background-color: #a3a3a3;
    border-radius: 50%;
    display: block;
    isplay: inline-block;
    overflow: hidden;
    border: 1px solid;
    border-color: #fff;

}