<div class="card">
    <div class="image-holder"></div>
    <div class="card-bottom">
        <div class="price-holder"> product.price €</div>
        <div class="name-holder">
            product.name
        </div>
        <div class="description-holder">
            product.description
        </div>
    </div>
</div>