<div class="card">
    <div class="image-holder">
        {%  if product.image is not null%}
            <img id="side-bar-profile-image" src="{{ vich_uploader_asset(product, 'imageFile') }}">
        {% endif %}
    </div>
    <div class="card-bottom">
        <div class="price-holder"> {{product.price}}€</div>
        <div class="name-holder">
           {{ product.name }}
        </div>
        <div class="description-holder">
            {{ product.description }}
        </div>
        <div class="like-holder" align="right">
            <i class="far fa-heart fa-2x"></i>
        </div>
    </div>
</div>