<div class="card">
    <div class="image-holder"></div>
    <div class="card-bottom">
        <div class="price-holder"> 10 €</div>
        <div class="name-holder">
            Mi producto
        </div>
        <div class="description-holder">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum justo id lectus placerat tempor. Cras sagittis nunc eros, nec molestie est auctor in. Curabitur lacus eros, semper id posuere id, malesuada in quam. Fusce sed consectetur nisl, sed tincidunt ligula. Nunc pulvinar erat vitae turpis dapibus, in imperdiet nisl dignissim.
        </div>
    </div>
</div>