{% extends 'base/base.html.twig' %}

{% block body %}

    <div class="row">
        {% for product in products %}
            {% if product.puedeVer(user) %}
                <div class="col-md-2 cardholder">
                    {% include 'cards/productCard.html.twig' %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}