{% extends 'base/base.html.twig' %}

{% block body %}

    <div class="row">
        {% for product in products %}
            <div class="col-md-2 cardholder">
                {% include 'cards/productCard.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}